body {
   margin: 0px;
}

.wrap {
	height: 600px;
	width: 100%;
	min-height:100%;
	position: relative;
	background-color: blue;

}
.wrapcontent {
	margin-left: 160px;
	height: 100%;
	padding-left: 20px;
}
.menu-admin {
	height: 36px;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	background: #23282d;

}
.content {
	position: relative;
	background-color: red;
	height: 100%;
	width: 100%;
}
.adminmenuback {
	background: #23282d;
	width:180px;
	position:relative;
	float:left;
	height:auto;
	position: fixed;
	top:36px;
}
.adminmenuback ul li >.submenu {
	display: none;
}
.adminmenuback ul li:hover .submenu {
	display: block;
}
#adminmenu li {
	padding: 0;
	margin: 0;
	cursor: pointer;
	height: auto;
	
}
.glyphicon {
	font-size: 18px;
    color: #ccc;

}
.menu-admin li {
	float: left;
	
	margin-left: 5px;
	padding-top: 2px;
}
.menu-admin ul {
    padding: 0;
}